.display {
	display: flex;
	width: 100%;
	overflow-x: scroll;
	padding: 20px;
}

.Container {
	position: relative;
	top: 50px;
}
/* .Card {
	width: 450px;
} */

.Container::-webkit-scrollbar {
	overflow: hidden;
}
/* 
.background {
	background-color: bisque;
	max-width: 100%;
	max-height: 100%;
} */

.title {
	position: relative;
	top: 60px;
	left: 20px;
	width: 220px;
	height: 100px;
}

/* .primetitle {
  position: absolute;
  top: 310px;
  left: 20px;
  width: 200px;
  height: 160px;
  color: white;
}

.PrimeContainer {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  top: 450px;
} */

.frame {
	position: relative;
	left: 5px;
	border-radius: 25px;
}
