.display {
	display: flex;
	overflow-x: scroll;
	padding: 30px;
}

.image:hover {
	transform: scale(1.2);
	width: 160px;
	position: relative;
	padding: 5px;
}

.Container {
	position: relative;
	top: 50px;
}

.Container::-webkit-scrollbar {
	overflow: hidden;
}

.description {
	display: none;
}

.info {
	color: white;
	position: relative;
	bottom: 170px;
	left: 140px;
}

.info:hover + .description {
	display: block;
	position: relative;
	bottom: 220px;
	color: white;
	left: 110px;
	width: 90px;
	padding: 5px;
	opacity: 0.3;
	background-color: #475ae6;
}

.title {
	position: relative;
	top: 60px;
	left: 40px;
	width: 220px;
	height: 50px;
}

.image {
	position: relative;
	left: 5px;
	width: 150px;
	height: 170px;
}
